<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/shailendra.bhandariya" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/shailendra.bhandariya" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/BhandariyaSaini" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/shailendraBhandariya" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-skype btn btn-link" href="https://join.skype.com/invite/mT7LrOKzKVB5" target="_blank">
        <i class="fa fa-skype fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link" href="https://github.com/shailendrakumarsaini" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-whatsapp btn btn-link" href="https://api.whatsapp.com/send/?phone=%2B917078276728&text=Hi" target="_blank">
        <i class="fa fa-whatsapp fa-2x " aria-hidden="true"></i>
    </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>