<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Portfolio</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://osteen.netlify.app/" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/osteen.png" alt="Image" />
                      <figcaption>
                        <div class="h4"> Smart Learning School Application Using MEAN Stack </div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://wineoutlet.com/index.html" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/wineoutlet.png" alt="Image" />
                      <figcaption>
                        <div class="h4"> Wine and Liquor Ecommerce Application </div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://ecadmin.net/index.html" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/ecadmin.png" alt="Image" />
                      <figcaption>
                        <div class="h4"> Employees Timesheet Application </div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://audionxtadmin.netlify.app/" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/audionext.png" alt="Image" />
                      <figcaption>
                        <div class="h4"> Audio System Managing App </div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://money360-cardholder-web-iat.khumbusystems.net" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/smione.png" alt="Image" />
                      <figcaption>
                        <div class="h4"> Credit Card Managment App </div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://sme.aisgrowbiz.com" target="_blank">
                    <figure class="cc-effect">
                      <img src="assets/images/portfolio.png" alt="Image" />
                      <figcaption>
                        <div class="h4"> Personal Portfolio Using Angular </div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>