<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2020</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Computer Application</div>
               <h4 class="category">Swami Vivekananda Subharti University Meerut </h4>
               <ul>
                  <li> Heights Institute of management & technnologgy is UGC Affiliated in Meerut (UP) </li>
                  <li> Completed Master's Degree in Computer Science and Engineering with <b>66.2 %</b>. </li>
                 <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li> -->
                 <!-- <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2017</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Science</div>
               <h4 class="category"> Dr. Bhimrao Ambedkar University Agra </h4>
               <ul>
                <li>SBLM College Goverdhan, Mathura is UGC Affiliated in Agra (UP) </li>
                <li>Completed Bachelor of Science in Computer Science with <b>56.25 %</b>.</li>
                <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
                <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p> 2014 </p>
              <div class="h5"> Senior Secondary School </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Senior Secondary School </div>
               <h4 class="category"> DAV Inter College </h4>
               <ul>
                  <li> The Senior Secondary School was mainly focus on the bases of science, mathematics, and Chemistry </li>
                  <li> There was also a good base on physics, mathematics and chemistry. </li>
                  <li> Completed my senior secondary school with<b> 78%</b>. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p> 2013 </p>
              <div class="h5"> Sedcondary School </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Secondary School </div>
               <h4 class="category"> Shari Radha Vihari Bal Vidhyalaya </h4>
               <ul>
                <li> The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages. </li>
                <li> Completed my secondary school with <b>74.5%</b>. </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>